*{background-color: rgb(255, 255, 255);}
#box1{
    height: 250px;
    width: 1500px;
    border: 10px;
    margin: 20px;
    background-color: aquamarine;
    
}
#box2{
    height: 150px;
    width: 150px;
    border: 15pxpx;
    margin: 20px;
background-color: rgb(127, 127, 210); ;
border-bottom-right-radius: 30px;
}
#box3{
    height: 150px;
    width: 150px;
    border: 20px;
    margin: 20px;
    background-color: blueviolet;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}
#box1:hover{
   background-color: blueviolet; 
   transform: scale(1);
}
#box2:hover{
   background-color: rgba(37, 152, 214, 0.407); 
   transform: scale(1);
}
#box3:hover{
   background-color: rgb(43, 214, 226); 
   transform: scale(1);
}
.car{
    border: 10px;
    margin: 10px;
    position: absolute;
    bottom: 10px;
    animation: movecar 3s linear infinite;


}
@keyframes movecar{
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
}
.road{
    height: 100px;
    width: 1500px;
    margin-top:200px;
    background-color: black;
    border:100px;
}